$input-btn-padding-y:         .6rem;
$input-btn-padding-x:         .9rem;



$input-bg: $transparent;
$input-focus-border-color:  tint-color($black, 5%);
$input-focus-box-shadow: 0px 0px 3px $black;
// $form-color-width:                      30rem;


$input-focus-bg: $gray-50;
